name: Pull Request Check

on:
  pull_request:
    branches:
      - master
      - dev

jobs:
  Test:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - name: Copy Repo Files
      uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '20'
    - name: Install modules
      run: npm install
    - name: ESLint
      run: npm run test

  CodeCheck:
    name: CodeCheck
    runs-on: ubuntu-latest

    steps:
    - name: Copy Repo Files
      uses: actions/checkout@v2

    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '20'
    - name: Install modules
      run: npm install
    - name: ESLint
      run: npm run lint-strict
    - name: TSC
      run: npm run runtsc --noEmit
